//

@import 'toggle_switch';

.theme-black .navbar{
    background-color: #b8b038 !important;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    display: block !important;
}

.navbar{
    position:fixed !important;
}

.sidebar{
    background-color: #4a5c82 !important;
}

.sidebar .menu .list a, .sidebar .menu .list a span{
    color: #ffffff !important;
}

.btn-info, .btn-primary{
    border-radius: 5px !important;
}

.btn-clear, .toggle-group .btn-primary{
    background-color: #afd34c !important;
    color: #fff;
    border-radius: 5px !important;
}

.btn-danger{
    border-radius: 5px !important;
}

.theme-white .navbar, .dtp div.dtp-date, .dtp div.dtp-time, .dtp > .dtp-content > .dtp-date-view > header.dtp-header,.dtp table.dtp-picker-days tr td a.selected {
    background-color: #4a5c82 !important;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: unset;
}

.theme-white .navbar .nav > li > a , .dtp table.dtp-picker-days tr>th{
    color: #fff;
}

.input-disabled{
    background-color: #e7e7e7 !important;
}

.table thead tr th {
    // padding: 12px 10px 12px 10px;
    // border: 1px solid #ffffff;
    border-bottom: 1px solid #eee;
    /* background-color: #4f769d; */
    // background-image: linear-gradient(to right, #a6cf35, #00b0e4);
    background-color: #4a5c82 !important;
    color: #ffffff;
    border-radius: 0px;
}

// .table tbody tr td {
//     border: 1px solid #eee;
//     padding: 10px 10px;
//     white-space: wrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

.input-group input[type=search]{
    padding-left: 12px;
    color: black !important;
    font-weight: 500;
    border-radius: 5px;
    height: 35px;
    // width: 76%;
    width: 71%;
    border: 1px solid #9e9e9e;
}

.fa-search:before{
    font-size: 15px;
}

.input-group-append .btn{
    position: absolute;
    right: 0;
    top: 0;
}

.input-group input[type=text],.input-group input[type=password],.input-group input[type=number], .floating-label .floating-select {
    padding-left: 12px;
    color: black !important;
    font-weight: 500;
    border-radius: 5px;
    width: 98%;
    border: 1px solid #9e9e9e;
    background-color: #fff;
}

.input-group input[type=file]{
    padding-left: 12px;
    color: black !important;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #9e9e9e;
}

input, .floating-select {
    font-size: 15px;
    padding: 10px 10px 10px 5px;
    display: block;
    /* width: 300px; */
    border: none;
    border-bottom: 1px solid #757575;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    height: 42px;
}

label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]){
    border: 1px solid #26a69a !important;
    border-bottom: none !important;
}

input:focus ~ label, .floating-select:focus ~ label {
    top: -9px;
    font-size: 14px;
    color: #26a69a;
    background: white;
    padding: 0px 5px;
}

input:valid ~ label{
    top: -9px;
    font-size: 14px;
    /* color: #26a69a; */
    background: white;
    padding: 0px 5px;
}
// .select2-container:focus ~ label{
//     top: -9px;
//     font-size: 14px;
//     color: #26a69a;
//     background: white;
//     padding: 0px 5px;
// }

.floating-select:focus{
    /* border: 1px solid #26a69a; */
    border: solid 1px #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: none;
    border-radius: 5px;
    padding: 0px 10px;
    padding-left: 12px;
    width: 100%;
}

.floating-select:focus ~ label  {
    top:-9px;
    font-size: 14px;
    color: #26a69a;
    background: white;
    padding: 0px 5px;
}
.floating-select:not([value=""]):valid ~ label, .floating-select:disabled ~ label {
    top:-9px;
    font-size: 14px;
    /* color: #26a69a; */
    background: white;
    padding: 0px 5px;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
    width:50%;
    background: none;
}

.dynamic-floating-label{
    top: -9px !important;
    // top: 12px !important;
    /* font-size: 13px !important; */
    font-size: 14px !important;
    /* color: #26a69a; */
    background: white !important;
    padding: 0px 5px !important;
    border-radius: 15px;
}

// for select2 field
.select2-container:focus ~ label{
    top: -9px;
    font-size: 14px;
    color: #9a2340;
    background: white;
    padding: 0px 5px;
}

.select2-container 
{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered
{
    padding-left:12px !important;
    max-height: 35px;
    overflow-y: auto;
}

.select2-container .select2-selection--multiple
{
    min-height:40px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    margin-top:12px !important;
}

.select2-container--default .select2-selection--multiple
{
    border: 1px solid #d0d4d9;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border-radius: 5px;
}

.paginate-sec .pagination{
    margin: 0px;
    float: right;
    // border: 1px solid #000;
}

.paginate-sec nav{
    background-color: transparent !important;
    -webkit-box-shadow : none !important;
    box-shadow: none !important;
}

.pagination li{
    height: 31px !important;
}

.pagination > li > a{
    margin: 0px;
    top: -8px; 
    border-radius: 0px;
    border: 1px solid #00000021;
}

.theme-white .page-item.active .page-link{
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    line-height:28px;
    border: 1px solid #00000021;
}

.pagination > li > a:hover, .page-link:focus, .page-link:hover , .page-link:hover{
    border-radius: unset;
    box-shadow :unset;
    -webkit-box-shadow : none;
}


// .paginate-sec .pagination {
//     border: 1px solid #000 !important;
// }
// .theme-white .page-item.active .page-link{
//     border-radius: 0% !important;
//     margin: 0px !important;
// }

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

// for role form check  boxes
.table-labels {
    left: unset;
    top: unset;
    position: unset;
    pointer-events: unset;
}

.ios{
    width: 104px !important;
    height: 30px !important;
}

.btn:not(.btn-link):not(.btn-circle) span{
    top: 0px !important;
}

.toggle-group .btn-danger{
    border-radius: 5px !important;
}

// loader CSS Start========================
$color: #4a5c82 ;
$colorRight: darken(#4a5c82, 15%);
$colorLeft: darken(#4a5c82, 5%);
$shadow: #DBE3F4;

.boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    .box {
        width: var(--size);
        height: var(--size);
        top: 0;
        left: 0;
        position: absolute;
        transform-style: preserve-3d;
        &:nth-child(1) {
            transform: translate(100%, 0);
            animation: box1 var(--duration) linear infinite;
        }
        &:nth-child(2) {
            transform: translate(0, 100%);
            animation: box2 var(--duration) linear infinite;
        }
        &:nth-child(3) {
            transform: translate(100%, 100%);
            animation: box3 var(--duration) linear infinite;
        }
        &:nth-child(4) {
            transform: translate(200%, 0);
            animation: box4 var(--duration) linear infinite;
        }
        & > div {
            --background: #{$color};
            --top: auto;
            --right: auto;
            --bottom: auto;
            --left: auto;
            --translateZ: calc(var(--size) / 2);
            --rotateY: 0deg;
            --rotateX: 0deg;
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--background);
            top: var(--top);
            right: var(--right);
            bottom: var(--bottom);
            left: var(--left);
            transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
            &:nth-child(1) {
                --top: 0;
                --left: 0;
            }
            &:nth-child(2) {
                --background: #{$colorRight};
                --right: 0;
                --rotateY: 90deg;
            }
            &:nth-child(3) {
                --background: #{$colorLeft};
                --rotateX: -90deg;
            }
            &:nth-child(4) {
                --background: #{$shadow};
                --top: 0;
                --left: 0;
                --translateZ: calc(var(--size) * 3 * -1);
            }
        }
    }
}

@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0%{
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0%{
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}

.dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    img {
        display: block;
        height: 28px;
    }
}
.loader_Sec {
    background-color: #ffffff;
    height: 100vh !important;
    z-index: 9999 !important;
}
.loader_Sec .boxes{
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    // z-index: 9999;
    justify-content: center;
}

// loader CSS End====================

.navbar-nav .user_profile .chip{
    background-color: #ffffff;
}

.sidebar .menu{
    overflow: hidden !important;
}

.comments-data-bg{
    background-color: #4a5c82;
    color: #fff;
    width: auto;
}

.card-body {
    padding: 20px !important;
}

.card .lead-details label, strong {
    margin: 0px;
    font-weight: 600;
    font-size: 15px;
    color: #212529;
    top: 0px;
}

.card .lead-details a p {
    margin-bottom: 0.8px;
}

.card .lead-details p {
    font-size: 14px;
    letter-spacing: 0.75px;
    color: #212529;
}

.h-36{
    height: 36px;
}

// dashboard loader


@keyframes ldio-a68u6a3cgs7 {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-a68u6a3cgs7 div {
  position: absolute;
  animation: ldio-a68u6a3cgs7 1.45s linear infinite;
  width: 72.35999999999999px;
  height: 72.35999999999999px;
  top: 64.32px;
  left: 64.32px;
  border-radius: 50%;
  box-shadow: 0 3.0149999999999997px 0 0 #4a5c82;
  transform-origin: 36.17999999999999px 37.68749999999999px;
}
.loadingio-spinner-eclipse-awp1yaa5q94 {
  width: 201px;
  height: 201px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  position: fixed;
    z-index: 9999;
    top: 42%;
    left: 50%;
    right: 50%;
    bottom: 50%;
}
.ldio-a68u6a3cgs7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-a68u6a3cgs7 div { box-sizing: content-box; }
/* generated by https://loading.io/ */

// line chart
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


// scroll bar css
// ::-webkit-scrollbar {
//     width: 8px;
// }
 
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//     border-radius: 10px;
// }
 
// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
// }

.style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.style-15::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4a5c82),
									   to(#4a5c82),
									   color-stop(.6,#4a5c82))
}

.dasboard-sec .card .header{
    color: #fff;
    padding: 15px;
    position: relative;
    background-color: #4a5c82 !important;
}

