.theme-black .navbar {
  background-color: #b8b038 !important;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: block !important;
}

.navbar {
  position: fixed !important;
}

.sidebar {
  background-color: #4a5c82 !important;
}

.sidebar .menu .list a,
.sidebar .menu .list a span {
  color: #ffffff !important;
}

.btn-info,
.btn-primary {
  border-radius: 5px !important;
}

.btn-clear,
.toggle-group .btn-primary {
  background-color: #afd34c !important;
  color: #fff;
  border-radius: 5px;
}

.theme-white .navbar {
  background-color: #4a5c82 !important;
}

.theme-white .navbar .nav > li > a {
  color: #fff;
}

.input-disabled {
  background-color: #e7e7e7 !important;
}

.table thead tr th {
  border-bottom: 1px solid #eee;
  /* background-color: #4f769d; */
  background-color: #4a5c82 !important;
  color: #ffffff;
  border-radius: 0px;
}

.input-group input[type=search] {
  padding-left: 12px;
  color: black !important;
  font-weight: 500;
  border-radius: 5px;
  height: 35px;
  width: 71%;
  border: 1px solid #9e9e9e;
}

.fa-search:before {
  font-size: 15px;
}

.input-group-append .btn {
  position: absolute;
  right: 0;
  top: 0;
}

.input-group input[type=text],
.floating-label .floating-select {
  padding-left: 12px;
  color: black !important;
  font-weight: 500;
  border-radius: 5px;
  width: 98%;
  border: 1px solid #9e9e9e;
}

input,
.floating-select {
  font-size: 15px;
  padding: 10px 10px 10px 5px;
  display: block;
  /* width: 300px; */
  border: none;
  border-bottom: 1px solid #757575;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
}

label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #26a69a !important;
  border-bottom: none !important;
}

input:focus ~ label,
.floating-select:focus ~ label {
  top: -9px;
  font-size: 14px;
  color: #26a69a;
  background: white;
  padding: 0px 5px;
}

input:valid ~ label {
  top: -9px;
  font-size: 14px;
  /* color: #26a69a; */
  background: white;
  padding: 0px 5px;
}

.floating-select:focus {
  /* border: 1px solid #26a69a; */
  border: solid 1px #26a69a;
  box-shadow: none;
  border-radius: 5px;
  padding: 0px 10px;
  padding-left: 12px;
  width: 100%;
}

.floating-select:focus ~ label {
  top: -9px;
  font-size: 14px;
  color: #26a69a;
  background: white;
  padding: 0px 5px;
}

.floating-select:not([value=""]):valid ~ label {
  top: -9px;
  font-size: 14px;
  /* color: #26a69a; */
  background: white;
  padding: 0px 5px;
}

/* active state */

.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
  width: 50%;
  background: none;
}

.dynamic-floating-label {
  top: -9px !important;
  /* font-size: 13px !important; */
  font-size: 14px !important;
  /* color: #26a69a; */
  background: white !important;
  padding: 0px 5px !important;
  border-radius: 15px;
}

.select2-container:focus ~ label {
  top: -9px;
  font-size: 14px;
  color: #9a2340;
  background: white;
  padding: 0px 5px;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-left: 12px !important;
  max-height: 35px;
  overflow-y: auto;
}

.select2-container .select2-selection--multiple {
  min-height: 40px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 12px !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #d0d4d9;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-radius: 5px;
}

.paginate-sec .pagination {
  margin: 0px;
  float: right;
}

.paginate-sec nav {
  background-color: transparent;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.table-labels {
  left: unset;
  top: unset;
  position: unset;
  pointer-events: unset;
}

.ios {
  width: 104px !important;
  height: 30px !important;
}

.btn:not(.btn-link):not(.btn-circle) span {
  top: 0px !important;
}

.toggle-group .btn-danger {
  border-radius: 5px !important;
}

